.player{data: { debug: (!Rails.env.production?).to_s }}
  %video(autoplay=true)
    %source{type: 'application/x-mpegURL', src: "http://#{@playlist.channel.domain}/live/#{@playlist.channel.stream_path}.m3u8"}
