.player{data: { debug: (!Rails.env.production?).to_s }}
  %video(autoplay=true)
    %source{type: 'application/x-mpegURL', src: "rtmp://tv.dragonhall.hu:8080/live/#{@playlist.channel.stream_path}.m3u8"}