.player{data: { debug: (!Rails.env.production?).to_s }}
  %video
    %source{type: 'application/x-mpegURL', src: "http://#{Rails.env.production? ? 'tv.dragonhall.hu' : 'tv.teszt.dragonhall.hu'}/live/#{@playlist.channel.stream_path}.m3u8"}
