%section#tv.hero.is-medium.has-text-centered
  .hero-body
    .container
      %h1.title Lejátszó
    .box.has-text-centered
      %figure.image
        = image_tag 'http://via.placeholder.com/720x404?text=FlowPlayer', alt: 'FlowPlayer', size: '720x404', style: 'width: auto'
  -#%div#adsense
  -#  = image_tag 'http://via.placeholder.com/720x40?text=AdSense', alt: 'AdSense', size: '720x40'
