%section#tv
  .container
    .box
      .title
      .tabs.is-boxed.is-centered(style="width: 70%; margin: 0 auto")
        %ul
          %li.is-active
            = link_to faw_icon('television', text: 'Lejátszó'), '#', id: 'tabTV'
          %li
            = link_to faw_icon('newspaper-o', text: 'Műsor'), '#', id: 'tabProgram'
      #player.container.is-centered(style="width: 70%; margin: 0 auto")
        #tv_player

      #program.container.is-centered(style="width: 70%; margin: 0 auto; display: none")
        = image_tag 'http://via.placeholder.com/720x404?text=Program', size: '720x404'